<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSA9rP6FwvJNxDJN0zwNvriy_DSjlV8o4</string>
	<key>GCM_SENDER_ID</key>
	<string>767476244990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sahlExamApp</string>
	<key>PROJECT_ID</key>
	<string>sahl-exam-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sahl-exam-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767476244990:ios:29babe64cc5eba331da0af</string>
	<key>DATABASE_URL</key>
	<string>https://sahl-exam-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>